article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}


/*
fonts:
    font-family: 'Catamaran', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Italiana', serif;
    font-family: 'Lato', sans-serif;
*/


/* Website to be viewed on Mozilla per Zoe */

/* base styles */
html,
header i {
    font-family:'Lato', sans-serif;
    font-weight:300;
    color:#fff;
    /* font-size:125%; Fatima advised to use size as shown on Zeplin*/
    font-size:20px;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
.footer-content a,
.button {
    font-family: 'Italiana', serif; 
    text-transform: uppercase;
    margin:0;
}

.wrapper {
    margin:0 auto;
    max-width:1280px;
}

img {
    display:block;
    width:100%;
    max-width: 100%;
}

.button {
    border: solid 2px #faba63;
    /* font-size: 25px; */
    font-size:1.25rem;
    line-height: 1.16;
    text-align: center;
    padding:10px 15px;
    color: #ffffff;
}

.hand-crafted,
figure {
    background-color: #14171f;;
}

h2 {
    /* font-size:51px; */
    font-size: 2.55rem;
}

/* header styles */
header {
    background-image: url(assets/desktop/group-4.jpg);
    background-size: cover;
    min-height:100vh;
    width:100%;
    position:relative;
}

h1 {
    font-size:8.1rem;
    /* font-size:162px; */
    text-align:right;
    margin-top:15vh;
}

ul {
    list-style: none;
    padding:0;
    margin:0;
}

.header-links li {
    float:left;
    text-align: left;
    padding:23px 100px 23px 0px;
    
}

header a {
    color: #faba63;
    text-transform:capitalize;
}

.company-name {
    width:50%;
}

.company-name span {
    display:block;
}

.company-name span:nth-child(2) {
    font-family: 'Lato', sans-serif;
    color: #faba63;
    font-size:2.25rem;
    /* font-size:45px; */
    text-transform: lowercase;
}

.social-media ul {
    /* text-align:right; */
    position:absolute;
    bottom:0;
    right:0;
    margin-right:40px;
    margin-bottom:40px;
    
}

.social-media li {
    text-align:center; 
    padding:7.5px;
}

header svg {
    position: absolute;
    top: 25px;
    right: 25px;
    font-size: 1.5rem;
    visibility: hidden;
}



/* hand-crafted styles */
.hand-crafted-content {
    padding:110px 0px;
}

.hand-crafted img {
    width:315px;
    height:315px;
}

.hand-crafted-content-pic { 
    float:left;
    width:25%;
    padding-right:42px;
}

.hand-crafted-content-words h2 {
    line-height: 0.7;
}

.hand-crafted-content-words {
    float:left;
    line-height: 1.4;
    width:calc(75% - 42px);
}

/* latest collection styles */
.latest-collection-gallery {
    background-color: #201e1f;
}

.latest-collection-gallery-content {
    padding:160px 0;
}

.gallery-contain {
    width: 400px;
    height:400px;
    float:left;
}

.gallery-contain:nth-child(1), 
.gallery-contain:nth-child(2) {
    margin-right:40px; 
}

.latest-collection-gallery-content h2 {
    text-align: center;
    padding-bottom:85px;
}

/* figure styles */
figure i {
    color: #faba63;
    font-size:3rem;
}

.icons h3 {
    font-size: 1.5rem;
}

.icons {
    /* padding: 85px 0; */
    line-height:3rem;

}

.catalogue-icon, 
.events-icon,
.collaborations-icon {
    text-align:center;
    float:left;
    padding: 90px calc(25% - 200px);
}


/* sust-mix styles */
.sust-mix {
    background-color: #201e1f;
}



.sust-mix-words,
.sust-mix-pic {
    width:50%;
    height:600px;
    /* height:85vh; */
    overflow:hidden;
}

.sust-mix-words,
.sust-mix-pic-left {
    float:left;
}

.sust-mix-pic-right {
    float:right;
}

.sust-mix-words {
    padding:120px;
}


.sust-mix-words {
    line-height:1.45;
}

.sust-mix-words span {
    display:block;
    line-height: 1.2;
}




/* footer styles */
footer {
    background-color: #14171f;
}

footer a,
h4 {
    color: #fafafa;
    font-size:1.25rem;
}


.footer-content nav,
.footer-content .contact {
    /* width:350px; */
    width:25%;
}

.contact span {
    display:block;
}

.sub-form{
    width:640px;
}

.footer-content .contact {
    float:right;
}

.footer-content nav,
.footer-content .sub-form {
    float:left;
}

.footer-content nav {
    text-align:left;
}

.footer-content .sub-form,
.sub-form input,
.copyright {
    text-align:center;
}

.sub-form input, 
.sub-form button {
    padding: 10px 25px;
    /* margin:0; */
}

.sub-form input {
    background-color: #fafafa;
    width:calc(60% - 50px);
    margin:0;
    /* display:inline; */
}

.sub-form button {
    width:25%;
    color: #fff;
    font-family: 'Cormorant Garamond', serif;
    text-transform: uppercase;
}

.sub-form button,
.copyright {
    background-color: #000000;
    border:none;
}


.footer-content .contact {
    text-align:right;
}

.footer-content {
    padding: 100px 0 110px 0;
}

.copyright {
    line-height:1.61;
    padding:5px;
}

.copyright p {
    margin:0;
    padding:0;
}


/* media queries */
@media (max-width:1599px) {
    .sust-mix-words,
    .sust-mix-pic {
        width:100%;
        height:400px;
        float:none;
    }

    .sust-mix-words {
        padding:120px;
    }

    .sust-mix-words h2 {
        margin:0 auto;
        text-align: center;
    }

    .sust-mix-words span {
        display:inline;
    }

    .sust-mix-words .button {
        margin-left:calc(50vw - 165px);
    }

}

@media (max-width:1280px) {
    .hand-crafted-content {
        margin:0 40px;
    }

    .latest-collection-gallery {
        padding:50px 0;
    }
    
    .latest-collection-gallery-content h2 {
        padding:20px;
    } 

    .latest-collection-gallery-content {
        padding: 0 0 160px;
    }
    
    .gallery-contain {
        width:calc(50% - 80px);
    }

    .gallery-contain:nth-child(1) {
        margin-left:40px; 
    }

    .gallery-contain:nth-child(2) {
        margin-right:40px; 
    }
    
    .gallery-contain:nth-child(3) {
        display:none;
    }

    
    .footer-content {
        padding:20px 0;
    }
    
    .footer-content nav,
    .sub-form,
    .footer-content .contact {
        width:100%;
        text-align: center;
        padding:20px 0;
    }

    .footer-content nav a {
        float:left;
        padding:0 20px;
        font-family: 'Lato', sans-serif;
    }
    
    .sub-form button {
        font-family: 'Italiana', serif;
        font-weight: 700;
    }

    .contact {
        font-family: 'Roboto', sans-serif;
    }

}

@media (max-width:1170px) {


    .hand-crafted-content {
        padding: 50px 0;
    }

    .hand-crafted-content-pic,
    .hand-crafted-content-words {
        float:none;
        width:100%;
    }


    .hand-crafted-content-pic {
        margin:0 auto 50px;
        padding-right:0px;
        width:315px;
        height:315px;

    }


    .hand-crafted-content-words {
        text-align: center;
    }


    figure i {
        color: #faba63;
        font-size:3rem;
    }

    .icons h3 {
        font-size: 1.5rem;
    }



    .catalogue-icon, 
    .events-icon,
    .collaborations-icon {
        text-align:center;
        float:none;
        padding-bottom: 60px;
    }

    .sust-mix-words,
    .sust-mix-pic {
        height:auto;
    }


}

@media (max-width:974px) {
    header {
        background-image: url(assets/desktop/fancycrave-174012-unsplash.jpg);
        background-size: cover;
        min-height:100vh;
        width:100%;
        position:relative;
    }

    h1 {
        font-size: 6rem;
    }

    .header-links li {
        padding:0px 50px;
    }

    .hand-crafted a,
    .sust-mix-words .button {
        display:block;
        margin:0 auto;
        width:200px;
    }

    .latest-collection-gallery-content {
        padding:0;
    }

    .gallery-contain {
        height:auto;
    }

    .footer-content .sub-form input,
    .sub-form button {
        width:80%;
    }
    
    .sub-form button {
        display:block;
        margin:35px auto;
        font-size:1.3rem;
        
    }

    .gallery-contain {
        margin: 40px;
    }

}


@media (max-width:768px) {
    header nav,
    .social-media {
        visibility: hidden;
    }

    header svg {
        visibility: visible;
    }
    
    .latest-collection-gallery {
        padding:0px;
    }

    .gallery-contain {
        margin:40px;
        width:calc(40% - 40px);
    }

    .gallery-contain:nth-child(2) {
        float:right;
    }



    .sust-mix-words {
        padding:40px;
    } 

    
}

@media (max-width:480px) {
    header {
        background-image: url(assets/mobile/fancycrave-174012-unsplash_2.jpg);
        background-size: cover;
        min-height:100vh;
        width:100%;
        position:relative;
    }
    
    h1 {
        font-size:3rem;
        margin-top:30vh;
    }

    h2 {
        font-size:1.5rem;
    }

    .company-name span:nth-child(2) {
        font-size:1.2rem;
    }

    .hand-crafted-content {
        margin-left:82.5px;
        margin-right:82.5px;
    }

    .hand-crafted-content-pic,
    .gallery-contain {
        width: auto;
    }


    footer a {
        font-size:0.9rem;
    }

    


}


@media (max-width: 320px) {
    

    .wrapper-mobile {
        max-width:280px;
        margin:0 auto;
    }



    header h1 {
        font-size: 3rem;
        margin-top: 10vh;

    }



    

}
